/********************************************************************/
/*************************** BASIS STYLE ***************************/
/********************************************************************/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.container{
    padding: 0 !important;
}
header{ 
    position: relative;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif; 
}

.website-content{
    margin: 0 5.2vw;
}

/********************************************************************/
/*************************** TITLES STYLE ***************************/
/********************************************************************/

.section-title{
    margin-top: 6.77vw;
    margin-bottom: 6.77vw;
    font-size: 1.875vw;
    font-weight: bolder;
}

h2, .text-share{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}
h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

.text-header p{
    margin: 250px auto 20px auto;
    font-size: 1.77vw;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-shadow: 0 3px 6px rgba(255,255,255,0.31);
    font-weight: bolder;
}


/******* SHARE BUTTON ***********/
.div-share{
    width: 100%;
    margin: 60px auto;
}
.text-share{
    color: black;
}

.text-share:hover{
    text-decoration: none;
    color: black;
}

/********* PARAGRAPHS ************/

.p-bold{
    font-weight: bold;
}

.paragraph{
    font-size: 1.5625vw;
    margin: 60px auto 100px auto;
}

/******* NAVIGATION ARROW *******/
.nav-arrow{
    position: fixed;
    top: 84vh;
    left: 91vw;
    z-index: 99;
}


/********************************************************************/
/************************** BUTTONS STYLE ***************************/
/********************************************************************/

.btn-bbb{
    display: flex;
    border: 2px solid black;
    height: 3.8542vw;
    border-radius: 22.5px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-text{
    margin: auto;
    text-transform: uppercase;
    font-size: 1.458vw;
    font-weight: bold;
    user-select: none;
    color: black;
}
.btn-bbb:hover{
    text-decoration: none;
}
.btn-text:hover{
    text-decoration: none;
}

.btn-subscribe{
    font-size: 1.46vw;
    text-transform: uppercase;
    color: black;
    background: white;
    padding: 20px 3.4rem;
    border-radius: 22.5px;
    border: 1px solid black;
    cursor: pointer;
}

.btn-subscribe:hover{
    color: white;
    background: black;
    border: 1px solid white;
    text-decoration: none;
}


/********************************************************************/
/************************** POP-UP STYLE ****************************/
/********************************************************************/

.pop-up-container{
    display: flex;
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    align-items: center;
}

.pop-up-closing{
    position: relative;
    top: 0;
    left: 34vw;
}

.pop-up-return{
    position: relative;
    top: 0;
    left: 0vw;
}

.pop-up{
    align-self: center;
    height: auto;
    background-color: white;
    z-index: 101;
    border: 1px solid black;
    padding: 20px;
    width: 40.41vw;
}

.pop-up-title{
    font-size: 34px;
    font-weight: bolder;
}

.active{
    color: red;
}

/********************************************************************/
/************************* POP-UP RESPONSIVE ************************/
/********************************************************************/

@media (max-width: 576px) { 
    .pop-up{
        width: 60vw !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .pop-up{
        width: 60vw !important;
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
    .pop-up{
        width: 65vw !important;
    }
}
@media (min-width: 992px) and (max-width: 1029px) { 
    .pop-up{
        width: 70vw !important;
    }
}

@media (min-width: 1028.98px) and (max-width: 1199.98px) { 
    .pop-up{
        width: 50vw !important;
    }
}
