/********************************************************************/
/*************************** HEADER STYLE ***************************/
/********************************************************************/
header{
    background-image: url('../img/index/Header-home.jpg') !important;
}

.hashtag-bbb{
    margin: 25vh 0 auto 68vw !important;
    width: 30.1vw;
    height: auto;
}

/********************************************************************/
/*************************** ELEMENT STYLE **************************/
/********************************************************************/

/**** DESCRIPTION TEXTS ****/

.product-description-bold{
    font-size: 2.08vw;
}

.product-description-light{
    font-size: 1.458vw;
}

/**** COMPONENTS ELEMENTS ****/
.parallax0{
    margin: auto 5.2vw auto 1.77vw;
}


/** IMAGES **/

.product-element-image{
    width: 370px;
    height: auto;
    margin-bottom: 48px;
}

.element-image{
    box-shadow: 6.5px 11.26px 27px rgba(150,176,203,0.16);
    margin-bottom: 48px;
}

/** ELEMENT TITLES AND PRICES **/

.parallax:hover{
    text-decoration: none;
}

.element-price{
    font-size: 18px;
    color: #555555;
    text-decoration: none;
}

.element-title{
    font-size: 24px;
    color: black;
}

.offer-products{
    line-height: 10px;
    margin: 20px 0;
}

/** SEE MORE PRODUCT BUTTON **/
.see-more-products{
    display: inline-block;
    margin: 40px auto;
    color: white;
    background: black;
    padding: 17px 3vw;
    font-size: 1.46vw;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 30px auto; 
}

.see-more-products:hover{
    color: black;
    border: 1px solid black;
    background: white;
    text-decoration: none;
}

.section-title::after{
    content: "";
    display: block;
    width: 62px;
    border: 6px solid black;
    margin-top: 20px;
}


