/********************************************************************/
/*************************** HEADER STYLE ***************************/
/********************************************************************/
header{
    background-image: url('../img/index/Header-home.jpg');
}

section h2{
    opacity: 0;
}

.text-header{
    font-family: 'Lato', sans-serif;    
    font-size: 24px;
    color: white;
}

/********************************************************************/
/*************************** ELEMENT STYLE **************************/
/********************************************************************/

/**** PARALLAX START ****/

.parallax img, .parallax p, .parallax h4{
    opacity: 0;
}


/**** COMPONENTS ELEMENTS ****/

/** IMAGES **/


/** ELEMENT TITLES AND PRICES **/
.first-element h4{
    color: #F21417;
}
.element-title{
    margin: auto 0 0 0;
}

.element-price{
    font-size: 18px;
    color: #555555;
    margin: 27px 0 auto 0;
}


