.main-menu{
    background: linear-gradient(#FFF, rgba(255,255,255,0));
    font-family: 'Lato', sans-serif;
    font-size: 1.25vw;
    margin: auto;
    padding-top: 20px;
}

.second-menu{
    position: fixed;
    top:0;
    left: 0;
    background-color: white ;
    padding: 0;
    padding-left: 30px;
    opacity: 0;
    z-index: 99;
}

.second-menu .menu-logo img{
    width: 30%;
    height: auto;
}

.second-menu .user-box{
    margin: auto 15px; 
}

.second-menu .user-box a{
    margin: auto 15px;
}

.user-link{
    width: 10.41vw;
}
.nav-link:hover{
    color:#FF0000;
}

.user-item{
    color: black;
    margin: 5px 0;
}

.user-item:hover{
    color:#FF0000;
    text-decoration: none;
}

.active{
    color:#FF0000 !important;
}

.nav-link{
    color: black;
}




