.main-menu{
    background: rgb(255,252,252);
    background: -moz-linear-gradient(top,  rgba(255,252,252,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0.77) 80%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,252,252,1) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.77) 80%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,252,252,1) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.77) 80%,rgba(255,255,255,0) 100%);

    font-family: 'Lato', sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
    margin: 0 !important;
    padding-top: 5px;
}

.second-menu{
    position: fixed;
    top:0;
    left: 0;
    background-color: white ;
    padding: 0;
    padding-left: 30px;
    opacity: 0;
    z-index: 99;
}

.menu-logo{
    width: 5.625vw;
    max-height: 138px;
}
.second-menu .menu-logo img{
    width: 30%;
    height: auto;
}

.second-menu .user-box{
    margin: auto 15px; 
}

.second-menu .user-box a{
    margin: auto 15px;
}

.user-link{
    width: 10.41vw;
}
.nav-link:hover{
    color:#FF0000;
}

.user-item{
    color: black;
    margin: 5px 5px 5px 0 !important;
}

.user-item img{
    margin: 5px;
}

.user-item:hover{
    color:#FF0000;
    text-decoration: none;
}

.active{
    color:#FF0000 !important;
}

.nav-link{
    color: black;
}


.cart-display{
    position: relative;
    top: 0;
    left: 0;
}

.cart-number{
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    color: white;
    border-radius: 15px;
    font-size: 12px;
    top: 18px;
    left: 11px;
    text-align: center;
}


/****************************************************/
/******************* RESPONSIVE *********************/
/****************************************************/

@media (min-width: 992px) and (max-width: 1049.98px) { 
    .user-item{
        width: 45px;
        height: 45px;
        align-content: center;
        margin: 0 !important;
    }
    .user-item img{
        margin: auto;
        margin-bottom: 4px;
    }
    .user-box{
        width: auto;
    }
    .third-menu{
        position: absolute;
        background-size: inherit;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
    }
    .navbar-mobile ul{
        list-style: none;
        margin-top: 20vh;
        font-size: 3rem;
    }
    .menu-logo img{
        margin-left: 20px;
        margin-top: 20px;
        width: 50px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) { 
    .user-item{
        width: 45px;
        height: 45px;
        align-content: center;
        margin: 0 !important;
    }
    .user-item img{
        margin: auto;
        margin-bottom: 4px;
    }
    .user-box{
        width: auto
    }
    .third-menu{
        position: absolute;
        background-size: inherit;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
    }
    .navbar-mobile ul{
        list-style: none;
        margin-top: 20vh;
        font-size: 3rem;
    }
    .menu-logo img{
        margin-left: 20px;
        margin-top: 20px;
        width: 50px;
    }
  }


  @media (min-width: 576px) and (max-width: 767.98px) {
    .user-item{
        width: 45px;
        height: 45px;
        align-content: center;
        margin: 0 !important;
    }
    .user-item img{
        margin: auto;
        margin-bottom: 4px;
    }
    .user-box{
        width: auto;
    }
    .third-menu{
        position: absolute;
        background-size: inherit;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
    }
    .navbar-mobile ul{
        list-style: none;
        margin-top: 20vh;
        font-size: 3rem;
    }
    .menu-logo img{
        margin-left: 20px;
        margin-top: 20px;
        width: 50px;
    }
  }

    

  @media (max-width: 576px) {
    .user-item{
        width: 45px;
        height: 45px;
        align-content: center;
        margin: 0 !important;
    }
    .user-item img{
        margin: auto;
        margin-bottom: 4px;
    }
    .user-box{
        width: auto;
    }
    .third-menu{
        position: absolute;
        background-size: inherit;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
        z-index: 100 !important;
    }
    .navbar-mobile ul{
        list-style: none;
        margin-top: 20vh;
        font-size: 1.5rem;
        margin-right: 10vw;
    }
    .menu-logo img{
        margin-left: 20px;
        width: 50px;
    }
  }


