/********************************************************************/
/*************************** HEADER STYLE ***************************/
/********************************************************************/

header{
    background-image: url('../img/product/header-product.png');
}

.header-title{  
    font-size: 2.29vw !important;
    margin-top: 60vh !important;
    font-weight: bolder !important;
}

.base-line{
    width: 100%;
    font-size: 1.77vw;
    font-weight: bold !important;
    margin: 0 !important;
}

/********************************************************************/
/**************************** BODY STYLE ****************************/
/********************************************************************/

body{
    font-family: 'Lato',sans-serif;
}

.product-element{
    padding: 20px;
}
.product-number{
    color: #F26522;
}

.product-info{
    text-transform: uppercase;

}

.product-info p{
    display: inline-block;  
}

.product-filter{
    font-size: 14px;
}

.product-type{
    color:#9FA4AF ;
    font-size: 11px;
}
.product-name{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.product-name:hover{
    text-decoration: none;
    color: black;
}

.product-price{
    color: #555555;
    font-size: 14px;
}

#product-list-filter, .product-number-displayer{
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-image-container{
    box-sizing: border-box;
}

.product-image{
    max-height: 430px;
    margin-right: auto;
    margin-left: auto;
}

.hover-effect{
    position: absolute;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.34);
    box-sizing: content-box;
    height: 75%;
    width: 90%;
    opacity: 0;
}

.add-to-cart{
    width: 100%;
    color: white;
    border: 1px solid white;
    background: black;
    font-size: 19px;
    padding: 19px;
}

.add-tocart{
    color:white !important;
}

.add-to-cart:hover{
    text-decoration: none;
    color: black !important;
    border: 1px solid black;
}

.add-to-cart {
    position: relative;
    transform: translateZ(0); 
    transition: color 1000ms;
}
.add-to-cart:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition-property: transform;
    transition: 300ms ease-out;
}
.add-to-cart:hover:before {
    transform: scaleY(1);
}