<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    {% block more_stylesheets %}{% endblock %}
</head>

<body>
    <header class="mb-5">
        {% block header %}NAIL PROJECT CONTACT{% endblock %}
    </header>


    <div class="container">
        {% block info %}{% endblock %}
        {% block object %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
    <footer class="mt-5">{% block footer %}
        <p class="mt-5 mb-3 text-muted text-center">Cet email vous a été envoyé de la part de l'équipe NAIL PROJECT.</p>
    {% endblock %}</footer>
</body>

</html>