<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
</head>

<body>
    <header class="mb-5">
            {% block menu %}{{render(controller('App\\Controller\\MenuController::mainMenu',{'routeName' : app.request.attributes.get('_route')}))}}{% endblock %}
            <div class="container text-center">{% block headerText %}{% endblock %}</div>
    </header>


    <div class="container">
        {% block ariane %}{% endblock %}
        {% block info %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{asset('web/js/anime.min.js')}}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock %}
    </div>
    <footer class="container">
        {% include "partials/footer.html.twig" %}
    </footer>
</body>

</html>